[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12,<3.14"
dependencies = [
    "langgraph>=1.0.5",
    "langgraph-cli[inmem]>=0.4.11",
    "pydantic-settings>=2.12.0",
]
